  <a href="/product/{{id}}">
  <div class="grid grid-row-3 gap-1 place-content-center text-center w-96 h-48 object-contain m-3 p-1 rounded-md bg-slate-100 hover:bg-slate-200">
    <div class="w-48"><img src="{{url}}" class="object-contain h-24 w-48" /></div>
    <div class="w-full mx-auto font-bold">{{name}}</div>
     <div class="w-full mx-auto text-lg font-medium">${{price}}</div>
  </div>
  </a>