  <a href="/product/{{id}}">
  <div class="w-96 h-48 object-contain m-3 p-1 rounded-md bg-slate-100 hover:bg-slate-200">
    <div class="float-right w-48"><img src="{{url}}" class="object-contain h-24 w-48" /></div>
    <div class="w-full mx-auto font-bold">{{name}}</div>
     <div class="w-full mx-auto float-right text-lg font-medium">${{price}}</div>
  </div>
  </a>