{{!using express-handlebar to create}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sensei-KB</title>
  <!-- Tailwind CSS -->
  <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100&display=swap">
</head>  


<body class="font-courier text-slate-900">
  <div class="wrapper">
            <header>
                <nav class="bg-slate-800">
                    <ul><div class="flex flex-row">
                        <div class="flex justify-between h-9 md:h-7 px-3 py-1 grow space-x-2">
                        <li>
                            {{!-- <a href="/" class="sensaiKB" role="button">SENSAI-KB</a> --}}
                            <a id="sensaiKB" href="/" class="text-white px-3 py-2 text-2xl font-serif">✝ SENSAI-KB</a>
                        </li>
                        </div>
                        <div class="flex justify-right h-12 px-3 py-3">
                          
                            {{#if loggedIn}}
                            {{#if isAdmin}}
                            <li>
                                <a href="/admin" id="admin" class="bg-slate-900 hover:bg-slate-500 text-white px-3 py-2 mx-3 rounded-md text-sm font-medium">Admin</a>
                            </li>
                            {{/if}}
                            <li>
                                {{!-- <a href="#" id="logout" class="bg-slate-900 hover:bg-slate-500 text-white px-3 py-2 mx-3 rounded-md text-sm font-medium">Logout</a> --}}
                                <a href="#" id="logout" role="button" class="relative flex">
                                <svg class="flex-1 w-6 h-6" style="color: white" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16"> <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" fill="white"></path> <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z" fill="white"></path> </svg>
                                </a> 
                            </li>
                            {{else}}
                            <li>
                                <a href="/login">
                                <svg class="flex-1 w-6 h-6" style="color: white" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16"> <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" fill="white"></path> <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z" fill="white"></path> </svg>
                                </a>
                            </li>
                            {{/if}}
                            <li>
                                <a href="/cart" role="button" class="relative flex">
                                    <svg class="flex-1 w-6 h-6 fill-white" viewbox="0 0 24 24">
                                        <path d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z"/>___
                                  </svg></a>
                            </li>
                            <li>
                            <svg class="flex-1 w-6 h-6" style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" fill="white"></path> </svg>
                            </li>
                            <li>
                                <a href="/signup" class="bg-slate-900 hover:bg-slate-500 text-white px-3 py-2 rounded-sm text-sm font-medium">Sign up</a>
                            </li>

                        </div>
                        </div>
                    </ul>
                </nav>


                <div class="bg-white text-slate-800 ">
                    <div class="flex flex-row">
                        <div class="flex justify-between px-3 md:h-35 grow space-x-2">
                            <a class="hover:text-red-300" href="/product/?category=2">Day Skincare</a>
                            <a class="hover:text-red-300" href="/product/?category=3">Night Skincare</a>
                            <a href="/products"><img class="object-contain h-25 w-40" src="/images/AnimeSword.png">
                            <a class="hover:text-red-300" href="/product/?category=4">Featured Products</a>
                            <a class="hover:text-red-300" href="/product">All Products</a>

                            {{!-- <a href="/product/?category=3">선생님-케이비</a> --}}

                            {{!-- {{#each categories as |category|}}
                            <a href="/product/?category={{category.id}}">{{category.category_name}}</a>
                            {{/each}} --}}
                        </div>
                    </div>

                </div>
            </header>
    <main>
            <!--this is the express-handlebar.js from the template that we use-->
            {{{body}}}
    </main>
    {{!-- <footer>
      Thanks for visiting!
    </footer> --}}
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>

  {{/if}}
</body>

</html>