{{!Cart File}}

<div><strong>Checkout</strong></div>
<div></div>
<div class='m-3'>
    {{#each cart as |item|}}
        <a href='#'>
            <div class='w-96 h-48 object-contain m-3 p-1 rounded-md bg-slate-100 hover:bg-slate-200'>
                <div class='float-right w-48'><img
                        src='{{item.product.url}}'
                        class='object-contain h-12 w-24'
                    /></div>
                <div class='w-full mx-auto'>{{item.product.name}}</div>
              <select id="quantity" name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">0</option>
              </select>
    <button class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200" type="button" aria-label="Like">
        <svg width="30" height="30" fill="current" aria-hidden="true">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
        </svg>
    </button>
            </div>
      {{/each}}
    </div>
    <div class="justify-center">
      {{#if cart.length}}
      <button id="submit" class="bg-slate-900 hover:bg-slate-400 text-white px-3 py-2 rounded-md text-sm font-medium justify-center">Submit Order Now</button>
      {{else}}
      <div>Your cart is empty!</div>
      {{/if}}
    </div>
  </div>
</div>
 </select>
        <button id="submit" class="bg-slate-900 hover:bg-slate-400 text-white px-3 py-2 rounded-md text-sm font-medium">Add to Cart</button>
        </div>
        <p class="text-large text-slate-700"><strong>
      Thank you for shopping with us!
    </strong></p>

<script src='/javascript/cart.js'></script>
