{{!-- <ol class="post-list">
  {{#each products as |product|}}
  <li>
    {{! the > brings in from the /partial/post-info.handlebar}}
    {{> product-info product }}
  </li>
  {{/each}}
</ol> --}}

{{!-- style="align-items: center;" --}}



<section class="hero place-content-center grid grid-flow-col auto-cols-max">

  <div>
    <a class="daySet" href="/products">
    <img id="imgBox" src="/images/DaySet.png">
  </div>  
  
  <div>
    <a class="" id="featuredImg" href="/products">
    <img id="imgBox" class="content-center" src="/images/FeaturedItem.png" >
  </div>  
  
  <div>
    <a class="nightSet" href="/products">
    <img id="imgBox" src="/images/NightSet.png">
  </div>

</section>



