{{!-- <ol class="post-list">
  {{#each products as |product|}}
  <li>
    {{! the > brings in from the /partial/post-info.handlebar}}
    {{> product-info product }}
  </li>
  {{/each}}
</ol> --}}

{{!-- style="align-items: center;" --}}



</section>

  {{!-- <div class="hero">
    <button class="button" role="button"><input type=DAY SET class='cursor-pointer' onClick="window.location = 'index.html'" value='HOME'></input></button>
  </div> --}}

  <div class="hero">
    <a class="daySet" href="/products">
    <img id="imgBox" src="/images/DaySet.png">
  </div>  
  
  <div class="hero">
    <a class="" id="featuredImg" href="/products">
    <img id="imgBox" class="content-center" src="/images/FeaturedItem(2).png" >
  </div>  
  
  <div class="hero">
    <a class="nightSet" href="/products">
    <img id="imgBox" src="/images/NightSet.png">
  </div>

</section>


{{!-- </div>


<The Collection</h2>
        <div class="project-container">
            <div class="project">
                <h2></h2>
                <p></p>
                <a href="https://damariscanales.github.io/RUN-BUDDY/">
                    <img id=runbuddy src="./assets/images/RunBuddy Webpage.png" style="align-items: center;"
                    alt="A screenshot of the Run Buddy webpage" />
                </a>
            </div>
            <div class="project">
                <h2></h2>
                <p></p>
                <a href="https://damariscanales.github.io/week1-challenge/">
                    <img id=horiseon src="./assets/images/Horiseon Webpage.jpeg"
                    alt="A screenshot of the Horiseon webpage" />
                </a>
            </div>
            <div class="project">
                <h2></h2>
                <p></p>
                <a href="https://damariscanales.github.io/week2-challenge/">
                    <img id=soon src="./assets/images/comingsoon.jpg"
                    alt="A placeholder photo with the words coming soon on it" />
                </a>
            </div>
        </div> --}}