<ol class="post-list">
<div class="grid md:grid-cols-2 gap-1 place-content-center">
  {{#each products as |product|}}
    {{> product-info product }}
  {{/each}}
</div>

{{!-- <script src='/javascript/product.js'></script> --}}