/* background-image: url(); */

body {
    background-color: rgb(203, 221, 123);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

/*Top Nav. Ban. Text Styling*/
.hero {
    display: flex;
    border: 2px solid rgb(255, 0, 234);
    width: 100%;
    height: 640px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#imgBox {
    height: 635px;
    width: 33.33%;
    align-content: center;
}

#featuredImg {
    align-content: center;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');


/* Button Code */
.button {
display: inline-block;
outline: 0;
text-align: center;
cursor: pointer;
height: 34px;
padding: 0 13px;
vertical-align: top;
border-radius: 3px;
border: 1px solid transparent;
transition: all .3s ease;
background: #fff;
border-color: #e8e8e8;
color: #000;
font-weight: 600;
text-transform: uppercase;
line-height: 16px;
font-size: 11px;
}

.button:hover {
    background: #e8e8e8;
    color: #3d3d3d;
}
